@model IEnumerable<ServiceCategories>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Selecione o tipo de serviço</h1>
            <p class="lead text-muted">Cada categoria tem uma breve descrição. Selecione a que melhor se encaixa em suas necessidades</p>
            @*<p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>*@
        </div>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model) {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" src="@item.Image" width="100%" height="225"/>
                        <div class="card-body">
                            <h4 class="fw" aria-label="Placeholder: @item.Name">@item.Name</h4>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-area="" asp-controller="@CategoryMapper.MapToEnglish(item.Name)" asp-action="Index" asp-route-categoryId="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>